/* .formClass {
  display: flex;
  flex-direction: column;
} */

#bootstrap-overrides > form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

button {
  max-width: 100px;
}

form > div {
  color: brown;
}
